<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Approximation Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Approximation Form</h2>
    <form action="/approximate" method="post">
        <div class="form-group">
            <label for="x">X values:</label>
            <input th:value="${xFormatted}" type="text" id="x" name="x" placeholder="Enter comma-separated values" class="form-control">
        </div>
        <div class="form-group">
            <label for="y">Y values:</label>
            <input th:value="${yFormatted}" type="text" id="y" name="y" placeholder="Enter comma-separated values" class="form-control">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    <div th:if="${approximateFirstDegree != null}" class="mt-3">
        <h2>First Degree Approximate: <span th:text="${approximateFirstDegree}"></span></h2>
    </div>
    <div th:if="${firstDegreeError != null}" class="mt-3">
        <h2>First Degree Error: <span th:text="${firstDegreeError}"></span></h2>
    </div>
    <div th:if="${approximateSecondDegree != null}" class="mt-3">
        <h2>Second Degree Approximate: <span th:text="${approximateSecondDegree}"></span></h2>
    </div>
    <div th:if="${secondDegreeError != null}" class="mt-3">
        <h2>Second Degree Error: <span th:text="${secondDegreeError}"></span></h2>
    </div>
</div>
</body>
</html>